<nav>
  <ul>
    <li> <a href="/auth/logout"> Logout </a> </li>
    <li> <a href="/auth/login"> Login </a> </li>
    <li> <a href="/"> Homepage </a> </li>
    <li> <a href="/profile"> Profile </a> </li>
    <li> <a href="/profile/main"> Main </a> </li>
  </ul>
</nav>
