<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>
    <header>
      <h1>Create a Badge</h1>
    </header>
    <main>
      <p> Fill in the form. </p>
      <form method="post">
        Badge Name: <br>
        <input type="text" name="badgename"><br>
        description: <br>
        <input type="text" name="description"><br>
        image: <br>
        <input type="text" name="image"><br>
        criteria: <br>
        <input type="text" name="criteria"><br>
        <input type="submit" value="Submit"><br>
      </form>
    </main>
  </body>
</html>
