<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>
    <header>
      <h1>Create Profile</h1>
    </header>
    <main>
      <p> Fill in the form. </p>
      <form method="post">
        The URL of your primary social presence: <br>
        <input type="text" name="url"><br>
        Describe yourself: <br>
        <input type="text" name="description"><br>
        <input type="submit" value="Submit"><br>
      </form>
    </main>
  </body>
</html>
