<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>
    <main>
      <p>
        This is where your personal stuff lives.
      </p>
      <a href="/profile/createbadge"> Create a Badge</a>
    </main>
  </body>
</html>
